.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 5rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: row-reverse;
}

.main {
  max-width: 36rem;
  padding: 0 1rem;
  margin: -3rem auto 6rem;
}

.bottomlink {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1rem auto 6rem;
}

.profile {
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;
}

.right {
  position: absolute;
  top: 35px;
  right: 200px;
}

@media (min-width: 999px) {
  .right {
    right: 250px;
  }
}

.profile:hover {
  cursor: pointer;
}

.github:hover {
  color: #ffffff;
}
.linkedin:hover {
  color: #0a66c2;
}
.twitter:hover {
  color: #1ca6d6;
}
.mail:hover {
  color: #95d1cc;
}
.brain:hover {
  color: #fd5d5d;
}
