.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 5rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;
}

.profile:hover {
  cursor: pointer;
}
